# General owner for the repository
* @Kirizakuga

# Leads for each specific folder (notice the backslash before the space)
/Problem\ A/* @tnv5rex  @Kirizakuga
/Problem\ B/* @uwu192   @Kirizakuga
/Problem\ C/* @Duccter  @Kirizakuga
/Problem\ D/* @nguyenhongthang-dot  @Kirizakuga
