# General owner for the repository
* @Kirizakuga

# Leads for each specific folder (notice the backslash before the space)
/Problem\ A/* @tnv5rex
/Problem\ B/* @uwu192
/Problem\ C/* @Duccter
/Problem\ D/* @nguyenhongthang-dot